$very-dark-moderate-violet: rgb(117, 65, 200);
$transperent-moderate-violet: rgba(117, 65, 200);
$very-dark-grayish-blue: rgb(72, 85, 106);
$blackish-blue: rgb(25, 33, 46);
$white: rgb(255, 255, 255);
$transparent-white: rgba(255, 255, 255, 0.5);
$light-gray: rgb(207, 207, 207);
$light-grayish-blue: rgb(236, 242, 248);
